$color-anthracite: #2c2f3c;
$color-grey: rgb(59,63,80); 
$color-green: #699900;
$color-blue: #0099cc;
$color-white:#fff;
$color-pink: rgb(239,73,48);
$color-yellow: rgb(227,172,0); 
$color-purpur: rgb(146,44,82); 

$font-family-1: "Hind", sans-serif;
$font-family-2: "Fresca", sans-serif;
$font-family-3: "Source Sans Pro", sans-serif;

$FondFamily:"Fresca", sans-serif;
$FondFamily1and2: "Fresca", sans-serif;
$HederBackGroung: url(../img/m-h-night.jpg);
$ColorBody: #2c2f3c;
$ColorButton: rgb(227,172,0); 
$ColorAfter: rgb(239,73,48);
$ColofFooter: rgb(59,63,80);
$BgLinear-Gradient: linear-gradient(-90deg, rgb(146,44,82), rgb(227,172,0)); 
$ColorText: #fff;
$ColorBorder:#2c2f3c;
$ColorCard:rgb(59,63,80); 

$LineheLight: 20px;


