$color-anthracite: #2c2f3c;
$color-grey: rgb(59,63,80); 
$color-green: #699900;
$color-blue: #0099cc;
$color-white:#fff;
$color-pink: rgb(239,73,48);
$color-yellow: rgb(227,172,0); 
$color-purpur: rgb(146,44,82);  

$font-family-1: "Hind", sans-serif;
$font-family-2: "Fresca", sans-serif;
$font-family-3: "Source Sans Pro", sans-serif;

$FondFamily:"Source Sans Pro", sans-serif;
$FondFamily1and2:"Hind", sans-serif;
$HederBackGroung: url(../img/m-h-day.jpg);
$ColorBody: #fff;
$ColorButton: #699900;
$ColorAfter: #0099cc;
$ColofFooter: #2c2f3c;
$BgLinear-Gradient: linear-gradient(-90deg, #2b59dc, #689805);
$ColorText: #2c2f3c;
$ColorBorder:#fff;
$ColorCard:#2c2f3c;

$LineheLight: 20px;





